sources:
  syslog:
    type: syslog
    mode: tcp
    address: "0.0.0.0:514"

sinks:
  clickhouse:
    type: clickhouse
    inputs: ["syslog"]
    endpoint: "http://localhost:8123"
    database: "default"
    table: "logs"
    skip_unknown_fields: true